/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;500&display=swap');

/* =========================
    common style 
========================= */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}

/* ========================
    header style
======================== */
.header {
    margin: 87px 120px 50px 120px;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__brand-name {
    color: #3A3A3A;
    font-weight: bold;
    font-size: 24px;
}
.nav__menu {
    display: flex;
    align-items: center;
}
.nav__menu ul {
    display: flex;
}
.nav__menu ul li {
    list-style-type: none;
}
.nav__menu ul li a {
    color: #3A3A3A;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    margin-right: 34px;
}
.fas {
    font-size: 24px;
    color: #3A3A3A;
}
.fa-search {
    margin-right: 34px;
}

/* =========================
    greeting style
========================= */
.greeting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 120px 100px 120px;
}
.greeting__heading {
    color: #3A3A3A;
    font-weight: bold;
    font-size: 52px;
    width: 80%;
}
.greeting__para {
    color: #3A3A3A;
    font-weight: 600;
    font-size: 16px;
    margin: 16px 0;
    line-height: 24px;
    width: 70%;
}
.order__button {
    display: flex;
}
.order__button > div {
    display: flex;
    align-items: center;
    background-color: #E02C6D;
    padding: 10px 15px 10px 24px;
    border-radius: 41px;
    cursor: pointer;
}
.order__button a, .fa-arrow-right {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    margin-right: 15px;
}
.greeting__image {
    background-image: url(./images/Circle\ design.svg);
    background-repeat: no-repeat;
}

/* =========================
    brand style
========================= */
.brand__name {
    margin: 0 165px 100px 165px;
    padding: 35px 62px;
    border-top-style: outset;
    border-bottom-style: inset;
}
.brand__name ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand__name ul li {
    list-style-type: none;
}

/* ========================
    product style
======================== */
.collection {
    margin: 0 196px 100px 196px;
}
.collection__title {
    text-align: center;
    color: #3A3A3A;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 30px;
}
.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 45px;
    justify-items: center;
}
.product {
    width: 329px;
    box-shadow: 0.5px 1.5px 4px 0;
    transition: 0.4s;
}
.product:hover {
    box-shadow: 2px 6px 16px 0;
}
.product__image img {
    padding: 17px 15px 16px 15px;
    border-radius: 5px;
}
.product__detail {
    padding-left: 15px;
}
.product__heading {
    color: #18191F;
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 6px;
}
.product__price {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    margin: 15px 0;
}
.product__rating .fas, span{
    color: #FB8200;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 8px;
}
.product__rating > span {
    color: #5E6366;
    margin-left: 8px;
}
.product__more-info {
    color: #787885;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.018em;
    padding-bottom: 17px;
}
.see__more-button {
    display: flex;
    justify-content: flex-end;
}
.see__more-button a, .see__more {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: #E02C6DDE;
    margin-top: 50px;
}

/* ========================
    footer style
======================== */
.footer {
    background-color: #0A0826;
}
.footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__heading {
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    margin-top: 50px;
}
.footer__para {
    color: #D9DBE1;
    font-weight: bold;
    font-size: 14px;
}
.footer__link ul {
    display: flex;
}
.footer__link ul li {
    list-style-type: none;
    margin-right: 16px;
}
.social {
    background-color: #fff;
    margin: 17px 0 50px 0;
    padding: 5px;
    border-radius: 6px;
}
.fa-facebook {
    color: #1877F2;
}
.fa-instagram {
    color: #E4405F;
}
.fa-twitter {
    color: #1DA1F2;
}
.fa-youtube {
    color: #CD201F;
}